annotated-doc
beautifulsoup4
cryptography

google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos

grpcio
grpcio-status

hf-xet
hf_transfer
httpcore
httplib2
httpx
huggingface_hub
idna
Jinja2
llama_cpp_python
loguru

numpy

pdfminer.six

protobuf
psutil

pydantic
pydantic_core

python-dotenv
PyYAML
requests

websockets

faster-whisper
librosa

sounddevice